<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVAvzxjGalYVG2DBgZf4Yt_wq9FNzPLCg</string>
	<key>GCM_SENDER_ID</key>
	<string>989422231159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChikaneApp.Chikane</string>
	<key>PROJECT_ID</key>
	<string>chikane-e5fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>chikane-e5fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989422231159:ios:8ca0f2e2797de3e79d3072</string>
</dict>
</plist>